---
import { Button, FormInput, FormSelect, FormTextarea } from '@littlesticks/odyssey-theme-components';

const selectOptions = [
  "Article Question",
  "Other",
]

---

<form action="https://formspree.io/f/mayrwrgq" method="POST">
  <FormInput type="text" label="Name" name="Name" placeholder="John Doe" required=""/>
  <FormInput type="email" label="Email" name="Email" placeholder="hello@example.com" required=""/>
  <FormSelect label="Subject" options={selectOptions} required=""/>
  <FormTextarea label="Message" name="Message" placeholder="Your message here..." required=""/>
  <Button>Submit</Button>
</form>

<style>
  form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
</style>